
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto Condensed;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/bcg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;    
}

h1 {
  color: white;
  font-size: 42px;
}


h5 {
  color:#F1C853 ;
  font-size: 18px;
  font-weight: 100;
}

h4 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

#header div {
 padding: 7px;
}


.info {
  display: flex;
  align-items: center;
}


.search input {
  padding: 15px;
  border-radius: 25px;
  border: none;
  background-color:white;
  font-size: 16px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

textarea:focus, input:focus{
  background-color: #F1C853;
  outline: none;
}


#contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#panel {
margin: 30px 20px;

}

.country-name h1 {
  margin-left: 10px;
}


.country-name {
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  padding-bottom: 15px;
}

.country-data {
  display: grid;
  grid-template-columns: auto auto;
}

.left {
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  justify-content: end;
}
.right {
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  justify-self: start;
}
.right div , .left div {
  padding: 10px 20px;
}

.date {
  display: flex;
  align-self: flex-end;
  color: white;
}

.new-confirmed {
  background: #646AE8;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.13);
  display: grid;
  justify-items: center;
  grid-row-start: 1;
  grid-row-end: 4;

}

.new-confirmed h4 {
 font-size: 60px;
 font-weight: 700;
 text-align: center;
 padding: 20px;
}

